<div>Primary Buttons</div>
<app-primary-buttons></app-primary-buttons>
<div>Icon Buttons</div>
<app-icon-buttons></app-icon-buttons>

<!--div class="severity-buttons">
  <button pButton type="button" label="Primary" (click)="onClick()"></button>
  <button
    pButton
    type="button"
    label="Secondary"
    (click)="onClick()"
    class="ui-button-secondary"
  ></button>
  <button
    pButton
    type="button"
    label="Success"
    (click)="onClick()"
    class="ui-button-success"
  ></button>
  <button
    pButton
    type="button"
    label="Info"
    (click)="onClick('info')"
    class="ui-button-info"
  ></button>
  <button
    pButton
    type="button"
    label="Warning"
    (click)="onClick('warn')"
    class="ui-button-warning"
  ></button>
  <button
    pButton
    type="button"
    label="Danger"
    (click)="onClick('error')"
    class="ui-button-danger"
  ></button>
</div>
<h2>Demo Upload</h2-->
<p-fileUpload multiple="multiple"></p-fileUpload>
<p-toast></p-toast>
