<div style="display:flex; justify-content: space-around;">
  <button
    pButton
    type="button"
    label="HAZ CLICK AQUI"
    (click)="onClick()"
    class="btnPrimaryBlue"
  ></button>
  <button
    pButton
    type="button"
    label="HAZ CLICK AQUI"
    (click)="onClick()"
    class="btnPrimaryLightBlue"
  ></button>
  <button
    pButton
    type="button"
    label="HAZ CLICK AQUI"
    (click)="onClick()"
    class="btnPrimaryYellow"
  ></button>
</div>

<br />
<div style="display:flex; justify-content: space-around;">
  <button
    pButton
    type="button"
    label="HAZ CLICK AQUI"
    (click)="onClick()"
    class="btnRPrimaryBlue"
  ></button>
  <button
    pButton
    type="button"
    label="HAZ CLICK AQUI"
    (click)="onClick()"
    class="btnRPrimaryLightBlue"
  ></button>
  <button
    pButton
    type="button"
    label="HAZ CLICK AQUI"
    (click)="onClick()"
    class="btnRPrimaryYellow"
  ></button>
</div>

<br />
<div style="display:flex; justify-content: space-around;">
  <button
    pButton
    type="button"
    label="HAZ CLICK AQUI"
    (click)="onClick()"
    class="btnTPrimaryBlue"
  ></button>
  <button
    pButton
    type="button"
    label="HAZ CLICK AQUI"
    (click)="onClick()"
    class="btnTPrimaryLightBlue"
  ></button>
  <button
    pButton
    type="button"
    label="HAZ CLICK AQUI"
    (click)="onClick()"
    class="btnTPrimaryYellow"
  ></button>
</div>
